<div class="container my-5">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <img class="card-img-top" src='assets/img/card-image.png' alt="card-image">
                <div class="card-body">
                    <h4 class="card-title">{{result.name}}</h4>
                    <p class="card-text">
                        <b>Mail Id : </b> {{result.email}} <br>
                        <b>Contact : </b> {{result.contact}} <br>
                    </p><br>
                    <a routerLink = "/list-data"><button type="button" class="btn btn-success">Go to List</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>